<h2><a href="/pokemons">Pokemons!</a></h2>

<div class="pokemon">
  <p>Name: <%= @pokemon.name %></p>
  <p>Combat Points: <%= @pokemon.cp %></p>
  <p>Poke Type: <%= @pokemon.poke_type %></p>
  <img src="<%= @pokemon.img_url %>" alt="">

</div>

<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="pokemon[name]">Name:</label>
  <input name="pokemon[name]" value="<%= @pokemon.name %>">

  <label for="pokemon[cp]">Combat Points:</label>
  <input name="pokemon[cp]" value="<%= @pokemon.cp %>">

  <label for="pokemon[poke_type]">Poke Type:</label>
  <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">

  <input type="submit" value="Update">
</form>

<h2>Delete Pokemon</h2>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">

</form>
